.roomIfList {
  border: black 1px solid;
  margin: 1px;
  grid-area: rooms;
}

.roomIfPlan {
  border: black 1px solid;
  margin: 1px;
  grid-area: rooms;
  position: absolute;
}

.roomIfList:hover, .roomIfPlan:hover {
  border: 2px solid black;
}

.roomIfList:active, .roomIfPlan:active {
  border: 2px solid red;
}

/*#rectangle {*/
  /*width: 50rem;*/
  /*height: 100px;*/
/*}*/

#shape .roominfo {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
}

img {
  max-width: 30px;
  max-height: 50px;
}

#rectangle .roominfo {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

section div, section img {
  margin-left: 2rem;
  margin-right: 2rem;
}

#rectangle .name {
  font-size: 2rem;
  max-width: 50px;
}

#rectangle .capacity div {
  font-size: 1.5rem;
}
