.roomIfList {
  border: black 1px solid;
  margin: 1px;
  grid-area: rooms;
}

.roomIfPlan {
  border: black 1px solid;
  margin: 1px;
  grid-area: rooms;
  position: absolute;
}

.roomIfList:hover, .roomIfPlan:hover {
  border: 2px solid black;
}

.roomIfList:active, .roomIfPlan:active {
  border: 2px solid red;
}

/*#rectangle {*/
/*width: 40rem;*/
/*height: 100px;*/
/*}*/

img {
  max-width: 20px;
  max-height: 40px;
}

.roominfoHorizontal {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.roominfoVertical {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

#rectangle div, #rectangle img {
  margin-left: 1.3vw;
  margin-right: 1.3vw;
}

.roominfoVertical div, .roominfoVertical img {
  margin-bottom: 0.6rem;
}

#shape div, #shape img {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

#rectangle .name {
  max-width: 30px;
}

@media screen and (min-width: 540px) {
  #rectangle .name {
    font-size: 1.5rem;
    max-width: 50px;
  }

  #rectangle .capacity div {
    font-size: 1.5rem;
  }

  img {
    max-width: 30px;
    max-height: 50px;
  }
}
