<form id="viewchoice">
  <input type="radio" name="view" (click)="changeListChecked()" checked>
  <div id="listoption">List</div>
  <input type="radio" name="view" (click)="changePlanChecked()">
  <div id="planoption">Plan</div>
</form>

<!--<section id="options">-->
  <!--<button (click)="remove()">-</button>-->
  <!--<button (click)="add()">+</button>-->
<!--</section>-->

<section id="mainsection">
  <section id="rooms">
    <app-room *ngFor="let room of rooms; index as i"
              [rooms]="roomSet"
              [currentRoomIndex]="i"
              [listChecked]="listChecked"
              [nameChecked]="nameChecked"
              [typeChecked]="typeChecked"
              [capacityChecked]="capacityChecked"
              [beamerChecked]="beamerChecked"
              [occupiedChecked]="occupiedChecked"
              [crowdChecked]="crowdChecked">
    </app-room>
  </section>

  <section id="filter" *ngIf="rooms.length > 0">
    <h4>Filter</h4>
    <table id="attributes">
      <tr>
        <td>Name</td>
        <td><input id="cbName" type="checkbox" (click)="changeNameChecked()" checked></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><input id="cbType" type="checkbox" (click)="changeTypeChecked()" checked></td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td><input id="cbCapacity" type="checkbox" (click)="changeCapacityChecked()"></td>
      </tr>
      <tr>
        <td>Beamer</td>
        <td><input id="cbBeamer" type="checkbox" (click)="changeBeamerChecked()"></td>
      </tr>
      <tr>
        <td>Occupied</td>
        <td><input id="cbOccupied" type="checkbox" (click)="changeOccupiedChecked()" checked></td>
      </tr>
      <tr>
        <td>Crowd</td>
        <td><input id="cbCrowd" type="checkbox" (click)="changeCrowdChecked()" checked></td>
      </tr>
    </table>
  </section>
</section>
