<form id="viewchoice">
  <input type="radio" name="view" (click)="changeListChecked()" checked>
  <div id="listoption">List</div>
  <input type="radio" name="view" (click)="changePlanChecked()">
  <div id="planoption">Plan</div>
</form>

<section id="navigate">
  <button (click)="floorDown()"><img
    src="http://img1.wikia.nocookie.net/__cb20131015141652/community-sitcom/images/7/7b/Arrow_down.png"
    alt="arrow down"></button>
  <button (click)="floorUp()"><img
    src="http://vignette1.wikia.nocookie.net/community-sitcom/images/4/46/Arrow_up.png/revision/latest?cb=20131015142243"
    alt="arrow up"></button>
</section>

<section id="mainsection">
  <section id="rooms">
    <app-room (click)="setRoomClicked()" *ngFor="let room of rooms; index as i"
              [rooms]="roomSet"
              [currentRoomIndex]="i"
              [currentFloor]="currentFloor"
              [listChecked]="listChecked"
              [nameChecked]="nameChecked"
              [typeChecked]="typeChecked"
              [capacityChecked]="capacityChecked"
              [beamerChecked]="beamerChecked"
              [occupiedChecked]="occupiedChecked"
              [crowdChecked]="crowdChecked">
    </app-room>
  </section>

  <section id="settings" *ngIf="roomClicked">
    <div id="crowdSetting">
      <label for="crowdSlider"><strong>Crowd</strong></label>
      <input type="range" name="crowd" id="crowdSlider" [(ngModel)]="crowd" min="10" max="1000"/>
    </div>
    <div id="reservationSetting">
      <h4>Reservation</h4>
      <button>1</button>
      <button>2</button>
      <button>3</button>
    </div>
    <button id="details">Details</button>
  </section>

  <section id="filter" *ngIf="rooms.length > 0">
    <h4>Filter</h4>
    <table id="attributes">
      <tr>
        <td>Name</td>
        <td><input id="cbName" type="checkbox" (click)="changeNameChecked()" checked></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><input id="cbType" type="checkbox" (click)="changeTypeChecked()" checked></td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td><input id="cbCapacity" type="checkbox" (click)="changeCapacityChecked()"></td>
      </tr>
      <tr>
        <td>Beamer</td>
        <td><input id="cbBeamer" type="checkbox" (click)="changeBeamerChecked()"></td>
      </tr>
      <tr>
        <td>Occupied</td>
        <td><input id="cbOccupied" type="checkbox" (click)="changeOccupiedChecked()" checked></td>
      </tr>
      <tr>
        <td>Crowd</td>
        <td><input id="cbCrowd" type="checkbox" (click)="changeCrowdChecked()" checked></td>
      </tr>
    </table>
  </section>
</section>
