<form id="viewchoice">
  <input type="radio" name="view" (change)="changeListChecked()" checked>
  <div id="listoption">List</div>
  <input type="radio" name="view" (change)="changePlanChecked()">
  <div id="planoption">Plan</div>
</form>

<section *ngIf="listChecked" id="navigate">
  <button (click)="floorDown()"><img
    src="http://img1.wikia.nocookie.net/__cb20131015141652/community-sitcom/images/7/7b/Arrow_down.png"
    alt="arrow down"></button>
  <button (click)="floorUp()"><img
    src="http://vignette1.wikia.nocookie.net/community-sitcom/images/4/46/Arrow_up.png/revision/latest?cb=20131015142243"
    alt="arrow up"></button>
</section>

<section id="mainsection">
  <section [id]="getRoomsId()">
    <app-room (click)="setRoomClicked(i); roomOrSettingClicked()" *ngFor="let room of rooms; index as i"
              [rooms]="rooms"
              [currentRoomIndex]="i"
              [currentFloor]="currentFloor"
              [listChecked]="listChecked"
              [nameChecked]="nameChecked"
              [typeChecked]="typeChecked"
              [capacityChecked]="capacityChecked"
              [beamerChecked]="beamerChecked"
              [occupiedChecked]="occupiedChecked"
              [crowdChecked]="crowdChecked"
              [colorNotOccupied]="colorNotOccupied"
              [colorOccupied]="colorOccupied">
    </app-room>
  </section>

  <section [id]="getSettingsId()">
    <div *ngIf="checkForCrowd()" id="crowdSetting">
      <label for="crowdSlider"><strong>Crowd</strong></label>
      <input type="range" name="crowd" id="crowdSlider" (click)="roomOrSettingClicked()" [(ngModel)]="currentRoom.crowd"
             min="0"
             max="{{currentRoom.capacity}}"/>
    </div>
    <div *ngIf="checkForReservation()" id="reservationSetting">
      <h4>Reservation</h4>
      <button (click)="buttonClicked(1); roomOrSettingClicked()">1</button>
      <button (click)="buttonClicked(2); roomOrSettingClicked()">2</button>
      <button (click)="buttonClicked(3); roomOrSettingClicked()">3</button>
      <p *ngIf="currentRoom.hoursReserved > 0">You reserved this room for {{currentRoom.hoursReserved}} hour(s)</p>
      <p *ngIf="currentRoom.hoursReserved == -1">This room is occupied</p>
    </div>
    <button routerLink="/api/rooms/{{currentRoom.id}}" *ngIf="checkIfSelected()" (click)="roomOrSettingClicked()"
            id="details">Details
    </button>
  </section>

  <section [id]="getFilterId()" *ngIf="rooms.length > 0">
    <h4>Filter</h4>
    <table id="attributes">
      <tr>
        <td>Name</td>
        <td><input id="cbName" type="checkbox" [(ngModel)]="nameChecked"></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><input id="cbType" type="checkbox" [(ngModel)]="typeChecked"></td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td><input id="cbCapacity" type="checkbox" [(ngModel)]="capacityChecked"></td>
      </tr>
      <tr>
        <td>Beamer</td>
        <td><input id="cbBeamer" type="checkbox" [(ngModel)]="beamerChecked"></td>
      </tr>
      <tr>
        <td>Occupied</td>
        <td><input id="cbOccupied" type="checkbox" [(ngModel)]="occupiedChecked"></td>
      </tr>
      <tr>
        <td>Crowd</td>
        <td><input id="cbCrowd" type="checkbox" [(ngModel)]="crowdChecked"></td>
      </tr>
      <tr>
        <td>Color not occupied</td>
        <td><input [(ngModel)]="colorNotOccupied" type="color" value="#00ff00"></td>
      </tr>
      <tr>
        <td>Color occupied</td>
        <td><input [(ngModel)]="colorOccupied" type="color" value="#ff0000"></td>
      </tr>
    </table>
  </section>
</section>
