<form id="viewchoice">
  <input type="radio" name="view" (change)="changeListChecked()" checked>
  <div id="listoption">List</div>
  <input type="radio" name="view" (change)="changePlanChecked()">
  <div id="planoption">Plan</div>
</form>

<section *ngIf="listChecked" id="navigate">
  <button (click)="floorDown()"><img
    src="http://img1.wikia.nocookie.net/__cb20131015141652/community-sitcom/images/7/7b/Arrow_down.png"
    alt="arrow down"></button>
  <button (click)="floorUp()"><img
    src="http://vignette1.wikia.nocookie.net/community-sitcom/images/4/46/Arrow_up.png/revision/latest?cb=20131015142243"
    alt="arrow up"></button>
</section>

<section id="mainsection">
  <section id="rooms">
    <app-room (click)="setRoomClicked(i)" *ngFor="let room of rooms; index as i"
              [rooms]="roomSet"
              [currentRoomIndex]="i"
              [currentFloor]="currentFloor"
              [listChecked]="listChecked"
              [nameChecked]="nameChecked"
              [typeChecked]="typeChecked"
              [capacityChecked]="capacityChecked"
              [beamerChecked]="beamerChecked"
              [occupiedChecked]="occupiedChecked"
              [crowdChecked]="crowdChecked">
    </app-room>
  </section>

  <section id="settings">
    <div *ngIf="checkForCrowd()" id="crowdSetting">
      <label for="crowdSlider"><strong>Crowd</strong></label>
      <input type="range" name="crowd" id="crowdSlider" [(ngModel)]="currentRoom.crowd" min="0"
             max="{{currentRoom.capacity}}"/>
    </div>
    <div *ngIf="checkForReservation()" id="reservationSetting">
      <h4>Reservation</h4>
      <button (click)="button1Clicked()">1</button>
      <button (click)="button2Clicked()">2</button>
      <button (click)="button3Clicked()">3</button>
      <p *ngIf="currentRoom.hoursReserved > 0">You reserved this room for {{currentRoom.hoursReserved}} hour(s)</p>
    </div>
    <button *ngIf="checkIfSelected()" id="details"><a
      routerLink="/details/{{currentRoom.name}}">Details</a>
    </button>
  </section>

  <section id="filter" *ngIf="rooms.length > 0">
    <h4>Filter</h4>
    <table id="attributes">
      <tr>
        <td>Name</td>
        <td><input id="cbName" type="checkbox" (change)="changeNameChecked()" checked></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><input id="cbType" type="checkbox" (change)="changeTypeChecked()" checked></td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td><input id="cbCapacity" type="checkbox" (change)="changeCapacityChecked()"></td>
      </tr>
      <tr>
        <td>Beamer</td>
        <td><input id="cbBeamer" type="checkbox" (change)="changeBeamerChecked()"></td>
      </tr>
      <tr>
        <td>Occupied</td>
        <td><input id="cbOccupied" type="checkbox" (change)="changeOccupiedChecked()" checked></td>
      </tr>
      <tr>
        <td>Crowd</td>
        <td><input id="cbCrowd" type="checkbox" (change)="changeCrowdChecked()" checked></td>
      </tr>
    </table>
  </section>
</section>
