<h1>Room Details</h1>

<form action="">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" value="{{room.name}}"></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><input type="text" value="{{room.type}}"></td>
    </tr>
    <tr>
      <td>Capacity</td>
      <td><input type="text" value="{{room.capacity}}"></td>
    </tr>
    <tr>
      <td>Beamer</td>
      <td><input type="text" value="{{room.beamer}}"></td>
    </tr>
    <tr *ngIf="occupiedPresent()">
      <td>Occupied</td>
      <td><input type="text" value="{{room.occupied}}"></td>
    </tr>
    <tr *ngIf="crowdPresent()">
      <td>Crowd</td>
      <td><input type="text" value="{{room.crowd}}"></td>
    </tr>
  </table>
</form>
<button (click)="save()">Save</button><br>
<button routerLink="/home">Return to home</button>
