<h1>Room Details</h1>

<form action="">
  <table>
    <tr>
      <td>Name</td>
      <td><input class="textinput" type="text" value="{{room.name}}"></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><input class="textinput" type="text" value="{{room.type}}"></td>
    </tr>
    <tr>
      <td>Capacity</td>
      <td><input class="textinput" type="text" value="{{room.capacity}}"></td>
    </tr>
    <br>
    <tr>
      <td>Beamer</td>
      <td>
        <label class="truelabel" for="beamerTrue">True</label>
        <input id="beamerTrue" type="radio" name="beamer" (change)="changeBeamerTrue()"
               [checked]="checkForBeamer(true)">
      </td>
      <td>
        <label for="beamerFalse">False</label>
        <input id="beamerFalse" type="radio" name="beamer" (change)="changeBeamerFalse()"
               [checked]="checkForBeamer(false)">
      </td>
    </tr>
    <tr *ngIf="occupiedPresent()">
      <td>Occupied</td>
      <td>
        <label class="truelabel" for="occupiedTrue">True</label>
        <input id="occupiedTrue" type="radio" name="occupied" (change)="changeOccupiedTrue()"
               [checked]="checkForOccupied(true)">
      </td>
      <td>
        <label for="occupiedFalse">False</label>
        <input id="occupiedFalse" type="radio" name="occupied" (change)="changeOccupiedFalse()"
               [checked]="checkForOccupied(false)">
      </td>
    </tr>
    <tr *ngIf="crowdPresent()">
      <td>Crowd</td>
      <td><input class="textinput" type="text" value="{{room.crowd}}"></td>
    </tr>
  </table>
</form>
<button (click)="save()">Save</button><br>
<button routerLink="/home">Return to home</button>
